#root {
  max-width: 70%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* <!--   media queries   --> */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-height: 500px) {
  main {
    overflow-y: scroll; /* scrollbar */
  }
  body {
    background-color: red;
  }
}

.header {
  top: 0;
  position: fixed;
  cursor: pointer;
}

.blue-text {
  color: #00aef3;
}

body {
  padding-top: 60px;
}

footer {
  background-color: #eff7fc;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

/* <!--   /   --> */

#eventInput,
#amountInput,
#descriptionInput {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.expense-item {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  border-top: 2px dashed black;
}

.add-expense-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-expense-button:hover {
  background-color: #45a049;
}

.expense-list {
  list-style-type: none; /* Fjern punkttegnene */
  padding: 0;
}

.total-amount-bar {
  width: 100%;
  border: 2px solid black;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.add-event-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-event-button:hover {
  background-color: #45a049;
}

/* <!--   /begivenheder   --> */

.Events-body {
  width: 100%;
  border: 2px solid black;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.Event-row {
  margin-bottom: 10px; /* Tilføj lidt mellemrum mellem hver række */
}

.event-link {
  display: block;
  width: 100%; /* Fyld hele bredden af forældreelementet */
  padding-bottom: 5px;
  padding-top: 5px;
  color: #000;
  transition: background-color 0.3s ease;
}

.event-link:hover {
  background-color: #e0e0e0;
}

/* <!--   /begivenhder/begivenhed/{id}   --> */

.split-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.split-button:hover {
  background-color: #45a049;
}

.Events-table td,
.EventDetails-table td {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
}
