/* <--   general styling   --> */

#root {
  text-align: center;
}

.header-text {
  width: 7%; /* assures that only the text part of the header is clickable */
  text-align: left;
  color: #6495ed;
  cursor: pointer;
}

footer {
  text-align: center;
  background-color: #6495ed;
  padding: 2%;
}

.add-expense-button:hover,
.delete-expense-button:hover,
.add-event-button:hover,
.split-button:hover {
  background-color: #2e4d92;
}

/* <--   /   --> */

#eventInput,
#amountInput,
#descriptionInput,
#expositorsDropdown {
  width: 70%;
  padding: 1%;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  color: black;
}

.total-amount-bar {
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  width: 71.5%;
}

#expositorsDropdown {
  width: 72.2%;
}

.expense-container {
  width: 72%;
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.expense-item {
  padding: 1%;
}

.add-expense-button,
.add-event-button,
.split-button,
.delete-expense-button {
  background-color: #6495ed;
  color: white;
  padding: 1%;
  font-size: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about-link {
  color: white;
}

/* <--   /events   --> */

.events-body {
  width: 71.5%;
  border: 2px solid black;
  margin: auto;
  border-radius: 5px;
}

.event-link {
  display: block;
  width: 100%; /* fill the whole width of parens element */
  padding-bottom: 1%;
  padding-top: 1%;
  color: #000;
  transition: background-color 0.3s ease;
}

.event-link:hover {
  background-color: #e0e0e0;
}

/* <--   /events/event/{id}   --> */

.expenselist h4,
.due-amount h3,
.event-name {
  color: #6495ed;
  font-size: 1.5em;
  margin-bottom: 1%;
}

.expense-list {
  background-color: #f2f2f2;
  margin: auto;
  margin-bottom: 0.5%;
  border-radius: 5px;
  list-style: none;
  width: 70%;
  padding: 1%;
}

.expense-list-items {
  padding: 1%;
}

.expense-pr-person {
  border: 2px solid black;
}

.people-share-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.due-amount-owed {
  border-radius: 5px;
  padding: 1%;
  margin: 1%;
}

.due-amount {
  width: 71%;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.missing-payment-container {
  border-top: 2px solid black;
}
