#root {
  text-align: center;
}

/* <--   media queries   --> */
@media only screen and (max-width: 600px) {
  main {
    overflow-y: scroll; /* scrollbar */
  }
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-height: 500px) {
  body {
    background-color: red;
  }
}

.header-text {
  width: 7%; /* assures that only the text part of the header is clickable*/
  text-align: left;
  color: #6495ed;
  cursor: pointer;
  border: 2px solid black;
}

main {
  border: 2px solid blueviolet;
}

footer {
  background-color: #ed6464;
  text-align: left;

  border: 2px solid green;
}

/* <--   /   --> */

#eventInput,
#amountInput,
#descriptionInput,
#spenderDropdown {
  width: 70%;
  padding: 1%;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px; /* Runde hjørner */
  color: black;
}

.total-amount-bar {
  border: 2px solid black;
  border-radius: 10px;
  margin: auto;
}

#spenderDropdown {
  width: 100%;
  appearance: none; /* removes standard dropdown arrow */
  /* Custom blue dropdown arrow */
  background-image: linear-gradient(45deg, transparent 50%, #6495ed 50%),
    linear-gradient(135deg, #6495ed 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.expense-item {
  margin-bottom: 1%;
  padding: 1%;
  border-radius: 1%;
  border-top: 2px dashed black;
}

.add-expense-button {
  background-color: #6495ed;
  color: white;
  padding: 1%;
  font-size: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-expense-button:hover {
  background-color: #2e4d92;
}

.expense-list {
  list-style-type: none; /* Fjern punkttegnene */
  padding: 0;
}

.add-event-button {
  background-color: #6495ed;
  color: white;
  padding: 1%;
  font-size: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-event-button:hover {
  background-color: #2e4d92;
}

/* <!--   /begivenheder   --> */

.Events-body {
  width: 100%;
  border: 2px solid black;
  margin-top: 1%;
  padding: 1%;
  border-radius: 1%;
}

.Event-row {
  margin-bottom: 1%; /* Tilføj lidt mellemrum mellem hver række */
}

.event-link {
  display: block;
  width: 100%; /* Fill the whole width of parens element */
  padding-bottom: 1%;
  padding-top: 1%;
  color: #000;
  transition: background-color 0.3s ease;
}

.event-link:hover {
  background-color: #e0e0e0;
}

/* <!--   /begivenhder/begivenhed/{id}   --> */

.split-button {
  background-color: #6495ed;
  color: white;
  padding: 1%;
  font-size: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.split-button:hover {
  background-color: #2e4d92;
}

.Events-table td,
.EventDetails-table td {
  width: 100%;
  padding: 1%;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
}

.people-share-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
