#root {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
}

.header-text {
  width: 7%; /* assures that only the text part of the header is clickable */
  text-align: left;
  color: #6495ed;
  cursor: pointer;
  padding-left: 2%;
}

.header-text-even {
  color: #927bb0;
}

/* should cover most current smartphones in portrait mode */
@media only screen and (max-width: 480px) {
  .header-text {
    width: 100%;
    text-align: center;
  }
}

.index-page h2,
.events h2,
.event-name,
.expenselist h2,
.due-amount h2,
.about-page h2 {
  color: #6495ed;
}

.add-expense-button:hover,
.delete-expense-button:hover,
.add-event-button:hover,
.split-button:hover {
  background-color: #2e4d92;
}

/* <--   /   --> */

#eventInput,
#amountInput,
#descriptionInput,
#expositorsDropdown {
  width: 70%;
  padding: 1%;
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  color: black;
}

.total-amount-bar {
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  width: 71.5%;
}

#expositorsDropdown {
  width: 72.2%;
}

.expense-container {
  width: 72%;
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.expense-item {
  padding: 1%;
}

.add-expense-button,
.add-event-button,
.split-button,
.delete-expense-button {
  background-color: #6495ed;
  color: white;
  padding: 1%;
  font-size: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* <--   /events   --> */

.events-body {
  width: 71.5%;
  border: 2px solid black;
  margin: auto;
  border-radius: 5px;
}

.event-link {
  display: block;
  width: 100%; /* fill the whole width of parens element */
  padding-bottom: 1%;
  padding-top: 1%;
  color: #000;
  transition: background-color 0.3s ease;
}

.event-link:hover {
  background-color: #e0e0e0;
}

/* <--   /events/event/{id}   --> */

.expense-list {
  background-color: #f2f2f2;
  margin: auto;
  margin-bottom: 0.5%;
  border-radius: 5px;
  list-style: none;
  width: 70%;
  padding: 1%;
}

.expense-list-items {
  padding: 1%;
}

/* checkbox */
.people-share-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.checkbox-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}

input[type="checkbox"] {
  appearance: none;
  border: 2px solid #6495ed;
  border-radius: 5px;
  width: 20px; /* width of the checkbox */
  height: 20px; /* height of the checkbox */
  cursor: pointer;
  background-color: white;
  transform: scale(1.5);
}

input[type="checkbox"]:checked,
input[type="checkbox"]:disabled {
  background-color: #6495ed;
  border-color: #6495ed;
  color: white;
}

.due-amount-owed {
  border-radius: 5px;
  padding: 1%;
  margin: 1%;
}

.due-amount {
  width: 71%;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.due-amount-owed-container {
  border-top: 2px solid black;
}

.custom-list {
  list-style: none;
  text-align: center;
  padding: 0;
}

.bold-debitor {
  font-weight: bold;
  border-bottom: dashed 1px black;
}
